* {
    /* color: #fff; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-size: 1.3em; */
}

p {
    color: #111;
    font-weight: 300;
}

header {
    position: fixed;
    top: 0%;
    left: 0px;
    padding: 5px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 1);

}

.iconmenu {
    display: none;
}

.img {
    display: flex;
}

.img > img {
    width: 70px;
    margin-top: -5px;
}

.logo {
    font-weight: bold;
    font-size: 2em;
    color: #0d0531;
    text-decoration: none;
    margin-top: 5px;
    font-family: 'Ananda Black', sans-serif;
}

.logo span {
    color: #fff;
}

.navbar {
    display: flex;
    position: relative;
}

.navbar .top {
    display: none;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #111;
    margin-left: 30px;
    font-weight: 700;
}

.btn-reserve>a {
    color: #fff;
}

.btn-reserve {
    color: #fff;
    padding: 10px 20px;
    background-color: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-reserve:hover {
    background-color: #fb911f;
    transition: ease-out;
    color: #fff;
    font-weight: 700;
}

header .navbar li a:hover {
    color: #210e77;
    font-size: 130%;
    letter-spacing: 2px;
    transition: all 0.2s;
    border-bottom: 2px solid 2a4963;
}

/* sticky */

/* header.sticky {
    background-color: #ffffff;
    height: 0px;
    padding: 0px;

}

header.sticky .logo,
header.sticky li a {
    color: #111;
}

header.sticky .logo span {
    color: #111;
}

header.sticky li a:hover {
    color: #1fa3fb;
    /* border-bottom: 2px solid #1fa3fb;
} */

/* .modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    margin: auto;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}

/* Modal Content/Box */
/* .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50% !important;
    margin: auto;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: #fff;
     background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
} */

/* Le boutton Close */
/* .close {
    color: #aaa;
    float: right;
    padding-left: 20px;
    font-size: 28px;
    font-weight: bold;
} */

/* .close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */

/* section inscription */

/* .inscription {
    /* background-image: url(); */
    /* background-size: cover; */
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    background-position: unset;
} */

/* .inscription>.contenu {
    text-align: center;
    color: 2a4963;
    width: 70%;
    margin: auto;
} */

/* .contactform {
    padding: 50px 50px;
    /* background-color: #fff; */
    /* box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8); */
    /* width: 400px;
    margin-top: 30px;
    /* justify-content: center;
    align-items: center;
    margin-left: -30%;
    margin-right: 10%;
}

.contactform h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contactform .inputboite {
    position: relative;
    width: 150%;
    margin-bottom: 20px;
}

.contactform .inputboite input {
    width: 100%;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    resize: none;
}

.contactform .inputboite>select {
    width: 100%;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    resize: none;


}

.contactform .inputboite input[type="submit"] {
    font-size: 1em;
    font-weight: 700;
    color: #ffff;
    background-color: 2a4963;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 160px;
    align-items: center;
    justify-content: center;
}

.contactform>p>a {
    color: 2a4963;
}  */




/* section Banniere */

.banniere {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 100px; */
}

.banniere .contenu {
    width: 70%;
    text-align: center;
    margin: auto;
}

.banniere .contenu h2 {
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
    font-family: 'Ananda Black', sans-serif;
}

.contenu p:nth-child(2) {
    color: #fff;
    font-size: 1em;
    font-family: poppins;
    font-weight: 600;
}

.btn1 {
    color: #fff;
    font-size: 1em;
    background-color: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 2s;
    margin-left: 10px;
}

.btn1:hover {
    letter-spacing: 6px;
}

.btn2 {
    color: #fff;
    font-size: 1em;
    background-color: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

/*section apropos*/

section {
    padding: 50px;
}

/* .evenement {

    background-color: rgba(0, 0, 0, 0.4);
}

.evenement > .texte {
    text-align: center;
    background: #ffffff50;

    padding: 50px;
} */

/* .apropos{
    background-color: rgba(173, 216, 230, 0.233);;
} */

.titre-texte {
    margin-bottom: 20px;
    text-align: center;
    font-family: ananda black;
}

.titre-texte {
    color: #000;
    font-weight: 300px;
    text-transform: capitalize;
    font-size: 2em;

}

.titre-texte span {
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}

.row {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 50px; */

    /* flex-direction: column;  */
}

.apropos > .row {
    background-color: rgba(173, 216, 230, 0.233);
}

.row .col-6 {
    position: relative;
    /* width: 45%; */
    margin: auto;
    font-size: 20px;
    padding: 40px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

/* .row .col-6:nth-child(2) {
    flex-direction: column-reverse;
} */

.row .article {
    width: 80%;
}

.row .valeurs {
    width: 50%;
}

.row .article .texte span {
    color: #1fa3fb;
}

.row .col-6 > p {
    font-size: 1em;
    font-weight: 300;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    /* height: 300px; */
}

.row .col-6 h3 {
    font-family: poppins;
    text-align: center;
}

.row .col-6 img {
    position: relative;
    width: 90%;
    height: 10%;
    margin: auto;
    margin: 15px;
    border: 15px solid #fff;
    box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

/* Section Equipe */

.equipe {
    background-color: #1fa3fb79;
}

.rows {
    max-width: 80%;
    margin: auto;
}

.hi-rows .btnp,
.hi-rows .btnn {
    position: absolute;
    /* top: 10%; */
    width: 40px;
    height: 40px;
    margin-top: 50px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

.hi-rows .btnp:hover,
.hi-rows .btnn:hover {
    opacity: 1;
    background-color: #fff;
}

.hi-rows .btnp {
    left: 209px;
}

.hi-rows .btnp::before {
    content: '<';
}

.hi-rows .btnn {
    right: 209px;
}

.hi-rows .btnn::before {
    content: '>';
}

.roww {
    position: relative;
    /* display: flex; */
    width: 80%;
    margin: auto;
    margin: auto;
    padding: 0;
}

.roww .col-e{
    overflow-x: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    cursor: pointer;
}

.roww .col-e img {
    width: 100%;
    height: 100%;
    border: 4px #fff solid;
    border-radius: 50%;

}

/* section abonnements */

.abonnements {
    background-color: #9dc0f598;
    padding: auto;
    /* margin-top: 600px; */
    margin-bottom: 100px;
}

.abonnements>h2 {
    text-align: center;
    font-family: ananda black;
    font-size: xx-large;
    text-transform: capitalize;
}

.partie {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.col {
    width: 400px;
    margin: auto;
}

.col:hover {
    width: 420px;
    /* height: 700px; */
    margin: auto;
    transition: all 2s;
}

.col h2 {
    color: #2a4963;
    background-color: #ffffff88;
    padding: 8px;
    background-size: cover;
    width: 80%;
    text-align: end;
    transform: translateY(700%);
}

.col>img {
    width: 90%;
    height: 300px;
}

.col>p {
    background-color: #2a4963;
    width: 90%;
    padding: 20px;
    text-align: end;
    font-family: poppins;
    margin-top: -2px;
    font-weight: 400;
    color: #fff;
}

.col p>span {
    letter-spacing: -1px;
    font-weight: 400;
}

.col p .s {
    font-size: 25px;
    font-weight: 600;
}

/* footer */

footer {
    margin-bottom: 0px;
    position: relative;
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    color: #210e77;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #210e77;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #210e77;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

/* @keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
} */


@media screen and (max-width:2150px) {

    header.sticky {
        height: 50px;
    }
}

@media screen and (max-width: 1300px) {

    .row .col-6 p {
        font-size: 1em;
        font-weight: 300;
    }

}

@media screen and (max-width: 991px) {

    header {
        padding: 2px 20px;
    }

    header.sticky {
        padding: 30px 20px;
    }

    .row .col-6 p {
        font-size: 1em;
        font-weight: 600;
    }

    section {
        padding: 20px;
    }

    .banniere .contenu {
        font-size: 1em;
    }

    .contenu p:nth-child(2) {
        font-size: 1em;
    }

    .apropos h2 {
        text-align: center;
        padding-bottom: 30px;
    }

    .row {
        justify-content: space-between;
    }

    .row .col-6 {
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .apropos .row .col-6 p {
        padding-top: 40px;
        text-align: center;
        font-size: 1.5em;
        width: 80%;
        margin: auto;
    }

    .apropos .row .col-6 .img {
        width: 80%;
        margin: auto;
    }

}

@media screen and (max-width: 920px) {

    header .navbar a {
        margin-left: 20px;
    }

}

@media screen and (max-width: 884px) {

    header ul li a {
        text-align: center;
    }

    .apropos {
        margin-top: 70px;
    }

    .row {
        width: 80%;
        margin: auto;
        flex-direction: column;
    }

    .apropos .row .col-6 p {
        font-size: 1.2em;
    }

}

@media screen and (max-width: 640px) {

    header {
        justify-content: space-between;
    }

    header .navbar {
        display: none;
    }

    header .navbar li {
        margin-left: 0px;
    }

    header .navbar.active li a {
        color: #111;
        border-bottom: #555 solid 1px;
        text-decoration: none;
        font-size: 1.4em;
        margin-top: 10px;
        align-items: center;
    }

    header .navbar.active a {
        margin-top: 10px;
    }

    header .navbar.active {
        width: 100%;
        height: calc(100% -60px);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #fff;
    }

    .navbar li a .btn-reserve {
        margin-top: 15px;
    }

    .iconmenu {
        display: block;
        font-size: 2.6em;
        cursor: pointer;
        color: #fff;
    }

    .iconmenu.active {
        background-image: url('images/icone-fermer-et-x-noir-2.png');
        background-repeat: no-repeat;
        background-size: 40px;
        background-origin: center;
    }

    header.sticky .iconmenu {
        filter: invert(1);
    }

}


.sliddes {
    width: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
}

.slide {
    flex: 1 0 104%;
    position: relative;
}

.slide>img {
    width: 100%;
}

.texts {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #ffffff5d;
    padding: 10px;
}

#nav-gauche,
#nav-droite {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

#nav-droite {
    right: 0;
}
